img{
    width: 100%
}

.background-image{
   background-image: url("./20240626_111238.jpg"); 
   height: 300px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.background-text{
    position: absolute;
    text-align: center;
    top: 90px;
    width: 100%;
    font-size: 5rem;
    color: rgb(0, 133, 33);
}

.two-column{
    background-color: lightgray;
    margin-top: 40px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    width: 70%
}

.mud-pool-img{
    margin-top: 20px;
    border-radius: 60%;
}

.title{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.info{
    font-size: 1.25rem;
}

.imge{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 30px;
}

.column{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 30px;
}
.card{
    background-color: lightgray;
}